<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main>

  <section class="l-mv">
    <div class="l-mv__inner">
      <div class="l-mv__cont">
        <h2 class="l-mv__title">タスク管理は<br>時間をかけず、高速に。</h2>
        <p class="l-mv__lead">Ravek（レイベック）は複数人のプロジェクトにおけるタスク管理を<br class="u-hidden-sp">簡単かつ高速にし、生産性を向上させるツールです。</p>
      </div>
      <figure class="l-mv__thumb">
        <img src="../img/img-mv.png" width="515" height="515" alt="女性がデスクに向かって右手でマウスを操作しながら左手でコーヒーを飲んでます">
      </figure>
      <div class="l-mv__btnArea">
        <p class="l-mv__btn"><a href="" class="c-btn">まずは無料で使ってみる</a></p>
        <p class="l-mv__btn"><a href="" class="c-btn--white">資料をダウンロードする</a></p>
      </div>
    </div>
  </section>

  <section id="about" class="p-about l-section">
    <h2 class="c-title">
      <span class="c-title__sub">What is Ravek</span>
      <span class="c-title__main">タスク管理の時間を<br class="u-hidden-pc">削減するツール</span>
    </h2>
    <div class="p-about__inner">
      <div class="p-about__textArea">
        <p>Ravek（レイベック）は、<span>複数人が関わるプロジェクトでのタスク管理を簡単かつ高速にするツールです。</span></p>
        <p>タスクの登録や進捗管理の手間を減らし、わかりやすく見える化することで<br>
          タスク管理にかかる時間を極限まで減らし、本質的な業務に時間を使いましょう。</p>
      </div>
      <p class="p-about__btn"><a href="" class="c-btn__large">無料でRavekを使ってみる</a></p>

    </div>
  </section>

  <section id="feature" class="p-feature l-section">
    <h2 class="c-title">
      <span class="c-title__sub">Feature</span>
      <span class="c-title__main">Ravekの<span class="p-feature__main-strong">3</span>つの特長</span>
    </h2>
    <div class="p-feature__inner l-container">
      <div class="p-feature__list">

        <div class="p-feature__item">
          <div class="p-feature__cont">
            <span>01</span>
            <div class="p-feature__body">
              <h3 class="p-feature__title">タスクの種類・進捗を<br>ダッシュボードで確認可能</h3>
              <p class="p-feature__text">
                Ravekはメンバーが入力したタスクを整理し、ダッシュボードにガントチャートとして表示。ダッシュボードを確認するだけで、誰のどのタスクがどの程度進んでいるのかを一目で把握できます。
              </p>
            </div>
          </div>
          <figure class="p-feature__thumb">
            <img src="../img/img-feature1.png" alt="パソコンの上に小さなお兄さんが膝の上にパソコン開いていいねポーズしています">
          </figure>
        </div>
        <div class="p-feature__item p-feature__item--reverse">
          <div class="p-feature__cont">
            <span>02</span>
            <div class="p-feature__body">
              <h3 class="p-feature__title">タスクの入力がシンプルかつ簡単。<br>入力の手間が最小限に</h3>
              <p class="p-feature__text">
                タスク管理ツールで面倒になりがちなタスクの入力作業。<br>
                RavekはPC・スマートフォンのどちらでもシンプルかつ簡単に入力でき、手間が最小限に抑えられます。本質的な業務に時間を割きましょう。
              </p>
            </div>
          </div>
          <figure class="p-feature__thumb">
            <img src="../img/img-feature2.png" alt="男性がデスクに座って液タブで何かデザインをしています。">
          </figure>
        </div>
        <div class="p-feature__item">
          <div class="p-feature__cont">
            <span>03</span>
            <div class="p-feature__body">
              <h3 class="p-feature__title">SlackとのAPI連携<br>ツール切り替えの手間を削減</h3>
              <p class="p-feature__text">
                RavekはSlackと連携することで、Slack上でRavekをタスクを追加したり、確認したりできます。都度の切り替えの手間がなくなり、シームレスに扱えるのが特長です。Slackを導入しているなら違和感なく使用できます。
              </p>
            </div>
          </div>
          <figure class="p-feature__thumb">
            <img src="../img/img-feature3.png" alt="地球儀の図柄でパソコンやスマホなどとの連携を表しています">
          </figure>
        </div>

      </div>
    </div>
  </section>

  <section id="trial" class="p-trial">
    <h2 class="p-trial__title">
      <span>14日間の無料トライアル可能。</span>
      <span>Ravekで快適なタスク管理を体験しよう</span>
    </h2>
    <p class="p-trial__btn"><a href="" class="c-btn__large">無料でRavekを使ってみる</a></p>
  </section>

  <section id="users" class="p-user l-section">
    <h2 class="c-title">
      <span class="c-title__sub">Users</span>
      <span class="c-title__main">導入実績</span>
    </h2>
    <div class="p-user__inner">
      <ul class="p-user__list">
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
        <li class="p-user__item"><img width="213" height="169" src="../img/img-user.png" alt="icedog Works"></li>
      </ul>
    </div>
  </section>

  <section id="flow" class="p-flow">
    <h2 class="c-title">
      <span class="c-title__sub">Flow</span>
      <span class="c-title__main">導入までの流れ</span>
    </h2>
    <div class="p-flow__inner">
      <div class="p-flow__items">
        <div class="p-flow__item">
          <h3 class="p-flow__title">無料トライアルを開始</h3>
          <figure class="p-flow__thumb">
            <img src="../img/img-flow1.png" width="520" height="520" alt="">
          </figure>
          <span class="p-flow__number">01</span>
          <p class="p-flow__text">まずはRavekの使用感をお試しください。最初の14日間は無料でご使用いただけます。</p>
        </div>
        <div class="p-flow__item">
          <h3 class="p-flow__title">無料トライアルを開始</h3>
          <figure class="p-flow__thumb">
            <img src="../img/img-flow2.png" width="520" height="520" alt="">
          </figure>
          <span class="p-flow__number">02</span>
          <p class="p-flow__text">Ravekを気に入っていただけましたら、適したプランで導入ください。導入にお困りの際は、メール、またはチャットにてサポートいたします。</p>
        </div>
        <div class="p-flow__item">
          <h3 class="p-flow__title">無料トライアルを開始</h3>
          <figure class="p-flow__thumb">
            <img src="../img/img-flow3.png" width="520" height="520" alt="">
          </figure>
          <span class="p-flow__number">03</span>
          <p class="p-flow__text">Ravekは段階的な導入がおすすめです。主要プロジェクトでの運用に慣れたら、全プロジェクトへ展開を行いましょう。</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-trial">
    <h2 class="p-trial__title">
      <span>14日間の無料トライアル可能。</span>
      <span>Ravekで快適なタスク管理を体験しよう</span>
    </h2>
    <p class="p-trial__btn"><a href="" class="c-btn__large">無料でRavekを使ってみる</a></p>
  </section>

  <section id="price" class="p-price l-section">
    <h2 class="c-title">
      <span class="c-title__sub">Price</span>
      <span class="c-title__main">料金プラン</span>
    </h2>
    <div class="p-price__inner">
      <div class="p-price__wrapper">
        <table class="p-price__table">
          <div class="p-price-top__items">
            <div class="p-price-top__item">
              <p class="p-price-top__label">ライト</p>
              <p class="p-price-top__price">月額 <span>1,980</span> 円</p>
              <p class="p-price-top__btn"><a href="" class="p-price__btn">無料で使ってみる</a></p>
            </div>
            <div class="p-price-top__item">
              <p class="p-price-top__label">ベーシック</p>
              <p class="p-price-top__price">月額 <span>2,980</span> 円</p>
              <p class="p-price-top__btn"><a href="" class="p-price__btn p-price__btn--trans">無料で使ってみる</a></p>
            </div>
            <div class="p-price-top__item">
              <p class="p-price-top__label">プレミアム</p>
              <p class="p-price-top__price">月額 <span>4,980</span> 円</p>
              <p class="p-price-top__btn"><a href="" class="p-price__btn">無料で使ってみる</a></p>
            </div>
          </div>
          <tbody>
            
            <tr>
              <th>プロジェクト数</th>
              <td>5</td>
              <td class="p-price__weight">15</td>
              <td>15</td>
            </tr>
            <tr>
              <th>メンバー数</th>
              <td>10</td>
              <td class="p-price__weight">30</td>
              <td>30</td>
            </tr>
            <tr>
              <th>ストレージ(容量)</th>
              <td>25GB</td>
              <td class="p-price__weight">50GB</td>
              <td>100GB</td>
            </tr>
            <tr>
              <th>2段階認証</th>
              <td></td>
              <td class="p-price__weight"><span class="p-price__circle">○</span></td>
              <td>○</td>
            </tr>
            <tr>
              <th>IP制限</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>メールサポート</th>
              <td>○</td>
              <td class="p-price__weight"><span class="p-price__circle">○</span></td>
              <td>○</td>
            </tr>
            <tr>
              <th>チャットサポート</th>
              <td>○</td>
              <td class="p-price__weight"><span class="p-price__circle">○</span></td>
              <td>○</td>
            </tr>
          </tbody>
        </table>
        <div class="p-price__btns">
          <p class="p-price__btnWrapper"><a href="" class="p-price__btn p-price__btn--white">無料で使ってみる</a></p>
          <p class="p-price__btnWrapper"><a href="" class="p-price__btn p-price__btn--navy">無料で使ってみる</a></p>
          <p class="p-price__btnWrapper"><a href="" class="p-price__btn p-price__btn--white">無料で使ってみる</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="qa" class="p-qa l-section">
    <h2 class="c-title">
      <span class="c-title__sub">Question</span>
      <span class="c-title__main">よくある質問</span>
    </h2>
    <div class="p-qa__inner">
      <div class="p-qa__items">
        <dl class="p-qa__item">
          <div class="p-qa__body">
            <dt class="p-qa-item__q">Ravekはユーザー1人あたりの課金制なのですか？</dt>
            <dd class="p-qa-item__a">いえ、Ravekは1アカウント開設いただくと、そのプランに応じたユーザー数の分だけ、使用できます。<br class="u-hidden-pc">もしプランのデフォルトユーザー数を超えて利用されたい場合は、お問い合わせください。</dd>
          </div>
          <div class="p-qa__body">
            <dt class="p-qa-item__q">Ravekはユーザー1人あたりの課金制なのですか？</dt>
            <dd class="p-qa-item__a">いえ、Ravekは1アカウント開設いただくと、そのプランに応じたユーザー数の分だけ、使用できます。<br class="u-hidden-pc">もしプランのデフォルトユーザー数を超えて利用されたい場合は、お問い合わせください。</dd>
          </div>
          <div class="p-qa__body">
            <dt class="p-qa-item__q">Ravekはユーザー1人あたりの課金制なのですか？</dt>
            <dd class="p-qa-item__a">いえ、Ravekは1アカウント開設いただくと、そのプランに応じたユーザー数の分だけ、使用できます。<br class="u-hidden-pc">もしプランのデフォルトユーザー数を超えて利用されたい場合は、お問い合わせください。</dd>
          </div>
          <div class="p-qa__body">
            <dt class="p-qa-item__q">Ravekはユーザー1人あたりの課金制なのですか？</dt>
            <dd class="p-qa-item__a">いえ、Ravekは1アカウント開設いただくと、そのプランに応じたユーザー数の分だけ、使用できます。<br class="u-hidden-pc">もしプランのデフォルトユーザー数を超えて利用されたい場合は、お問い合わせください。</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

  <section class="p-trial">
    <h2 class="p-trial__title">
      <span>14日間の無料トライアル可能。</span>
      <span>Ravekで快適なタスク管理を体験しよう</span>
    </h2>
    <p class="p-trial__btn"><a href="" class="c-btn__large">無料でRavekを使ってみる</a></p>
  </section>

</main>



<%- include('./common/_footer', {pageId:pageId }) %>