
:root {
  --base-black:#2D2D32;
  --color-black:#000;
  --color-white:#fff;
  --main-color:#64629D;
  --navy:#9F9EC1;
  --light-navy:#EDECFC;
  --light-gray:#F9F9F9;

  //font-family
  --ff-notoJp:'Noto Sans JP', sans-serif;
  --ff-futura:futura-pt, sans-serif;
}
