@use '../global' as g;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding-left: 120px;
  padding-right: 133px;
  z-index: 9999;
  background: var(--color-white);
  @include g.tab {
    padding:0 20px;
  }
  @include g.sp {
    height: 52px;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__logo {
    a {
      img {
        width: 83px;
        height: 22px;
        object-fit: cover;
      }
    }
  }

  &__nav {
    @include g.sp {
      opacity: 0;
      position: fixed;
      inset: 0;
      margin:auto;
      height: 100vh;
      width: 100%;
      background:var(--light-navy);
      pointer-events: none;
      transition: all .2s;
      margin-top: 52px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include g.sp {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 134px;
      height: 100%;
      max-width: 300px;
      margin: 82px auto 0;
    }
  }

  &__item {
    @include g.sp {
       &:not(.l-header__item-btn) {
        padding-left: 67px;
       }
    }
    &:not(:first-child) {
      margin-left: 16px;
      @include g.sp {
        margin-left: 0;
        margin-top: 40px;
      }
    }
    
    a {
      font-size: 1.4rem;
      font-weight: 700;
      display: block;
      width: 100%;
      position: relative;
      @include g.sp {
        font-size: 2.4rem;
        padding-left: 13px;
        position: relative;
        &::before {
          content:'';
          position: absolute;
          top: 62%;
          left: -25px;
          transform: translateY(-50%) rotate(45deg);
          width: 20px;
          height: 20px;
          border:2px solid var(--main-color);
          display: block;

        }
      }
      &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--main-color);
        //アニメーションの指定
        transition: all .2s;
        transform:scale(0, 1); //X軸0,Y方向1
        transform-origin: center top; //上ぶ中央基点
        
      }
      &:hover {
        &::before {
          transform: scale(1,1);
          color:var(--main-color);
        }
      }
    }
  }

  &__item-btn {
    margin-left: 14px;
    @include g.sp {
      margin-left: 0;
      margin: 0 auto;
    }
    a {
      @include g.sp {
        display: inline-block;
        max-width: 300px;
        width: 100%;
        margin-top: 62px;
        margin:0 auto;
      }

    }

    &--pc {
      @include g.sp {
        display: none;
      }
    }

    & + & {
      @include g.sp {
        margin-top: 24px;
      }
    }
  }

  &__hamburger {
      display: none;
    @include g.sp {
      display: block;
      position: relative;
      top: 10px;
      right: 20px;
      width: 21px;
      height: 21px;
      transition: all .2s;
      &::before {
        content:'MENU';
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: .6rem;
        color:var(--main-color);
        font-weight: 700;
        letter-spacing: 0.02em;
      }
    }
    span {
      height: 3px;
      width: 100%;
      display: block;
      background: var(--main-color);
      transition: all .2s;
      position: absolute;
      right: 0;
    }

    span:nth-of-type(1) {
      top: 0;
    }
    span:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
      width: calc((13 / 21) * 100%);
    }
    span:nth-of-type(3) {
      bottom: 0;
    }
  }
}

/*==========================================================
# ハンバーガーメニューがクリックされたら
========================================================= */

.l-header.active {
  .l-header__hamburger {
    top: 0;
    &::before {
      content:'';
    }
    span:nth-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    span:nth-of-type(2) {
      width: 0;
    }
    span:nth-of-type(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }

  .l-header__nav {
    opacity: 1;
    pointer-events: auto;
  }
}