<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__cont">
      <div class="l-footer__logo"><a href="/"><img src="../../img/ttl-logo-footer.svg" alt="Ravek"></a></div>
      <nav class="l-footer__nav">
        <ul class="l-footer__list">
          <ul class="l-footer__item"><a href="/">会社概要</a></ul>
          <ul class="l-footer__item"><a href="/">プライバシーポリシー</a></ul>
          <ul class="l-footer__item"><a href="/">利用規約</a></ul>
          <ul class="l-footer__item"><a href="/">お問い合わせ</a></ul>
        </ul>
      </nav>
      <p class="l-footer__copyright"><small>&copy; Ravek Inc. 2021 <span>Illustration by FreepikStoryset</span></small></p>
    </div>

    <div class="l-footer-sns">
      <p class="l-footer-sns__title">Share on SNS</p>
      <ul class="l-footer-sns__list">
        <li class="l-footer-sns__item">
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li class="l-footer-sns__item">
          <a href="#">
            <i class="fab fa-instagram"></i>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
        <li class="l-footer-sns__item">
          <a href="#">
            <i class="fab fa-facebook"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</div><!-- /wrapper -->


</body>

</html>